# --- Simulation Outputs ---
# Icarus Verilog compiled executables
sim_*
*_sim
*.out

# Waveform data (Value Change Dump)
*.vcd
# GTKWave save files 
*.gtkw

# --- Software Build Files ---
# Compiled objects and executables
sw/*.o
sw/*.elf
# The generated hex file (it changes every time you recompile C)
test.hex
sw/test.hex

# --- Log Files ---
*.log
iverilog.log

# --- System / Editor Files ---
.DS_Store
.vscode/
*.pdf
.idea/
*~